* {
  margin: 0;
  padding: 0;
  font-family: "mali", cursive, Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 0;
}

button {
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background: linear-gradient(358.36deg, rgba(34, 130, 248, 0.822) 10.06%, rgba(255, 103, 69, 0.771) 138.32%), url(./img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
}

.arrowRight {
  height: 70%;
}

.discover {
  margin: 20px auto 40px;
  padding: 4px 0;
  color: #FF6584;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.login {
  background: #32a6ff;
  border-radius: 21px;
  color: white;
  padding-block: 5px;
  font-size: 1em;
}

.orText {
  text-align: center;
  margin: 10px auto;
}

.loginGoogle {
  padding: 5px 0;
  background: #FE756C;
  color: #fff;
  font-size: 1em;
  gap: 10px;
}

/* Burger Menu  */

.burgerMenu{
  cursor: pointer;
}

.burgerMenu .spanLine0 {
  opacity: 0;
}

.burgerMenu span:nth-child(1) {
  background-color: #fff;
  width: 100%;
  height: 4px;
}

.burgerMenu span:nth-child(2) {
  background-color: #fff;
  width: 50%;
  height: 4px;
  margin-left: 50%;
}

.burgerMenu:hover > span:nth-child(1){
  animation: reduce-wrap .5s linear forwards;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.burgerMenu:hover > span:nth-child(2){
  animation: reduce-wrap .5s linear forwards;
}

@keyframes reduce-wrap {
  50%{
    width: 0%;
  }
   100%{
    width: 100%;
    margin-left: 0;
  }
}

.closebtn {
  transform: scaleY(1);
  transition: all .8s;
  opacity: 1;
}

.closebtn0{
  opacity: 0;
  transform: scaleY(0);
  /* transition: all .8s; */
}

.closebtn span:nth-child(1) {
  background-color: #fff;
  width: 100%;
  height: 4px;
  transition: all .5s;
  transform: rotate(45deg) translateX(30%) translateY(90%);
}

.closebtn span:nth-child(2) {
  background-color: #fff;
  width: 100%;
  height: 4px;
  transition: all .5s;
  transform: rotate(-45deg) translateX(-30%) translateY(-200%);
}

/* Burger Menu  */


/* Navbar, animation */

.navbarTop{
  
}

.menuItems{
  background: #564545c4;
  width: 85%;
  height: calc(100vh - 120%);
  max-width: 240px;
  min-width: 200px;
  padding-inline: 20px;
  padding-block: 30px;
  text-align: right;
  transition: all .5s;
  top: 120%;
  right: 0%;
  z-index: 6;
}

.menuhide{
  transition: all .5s;
  width: 0;
  transform: translate(100%, 0);
}

/* Navbar, animation */

.inputControl{
  padding: 8px 18px;
  border: none;
  border-radius: 20px;
  color: white;
}

.loginText{
  text-align: center;
  margin-top: 10px;
}

.PassForget{
  text-align: right;
}

.LoginTitle{
  margin-top: 10px;
}

.form{
  
}

.loginBtn{
  margin: 50px 0px 20px;
}

.LogToSign{
  text-align: center;
}